/* light is default mode, so pair with general html definition */
/* line 52, content/stylesheets/partials/_base.scss */
html, .light {
  backgorund-color: #eee8d5;
  color: #657b83;
}
/* line 39, content/stylesheets/partials/_base.scss */
html #container, .light #container {
  background-color: #fdf6e3;
}
/* line 41, content/stylesheets/partials/_base.scss */
html *, .light * {
  color: #657b83;
}
/* line 42, content/stylesheets/partials/_base.scss */
html h1, html h2, html h3, html h4, html h5, html h6, .light h1, .light h2, .light h3, .light h4, .light h5, .light h6 {
  color: #586e75;
  border-color: #657b83;
}
/* line 43, content/stylesheets/partials/_base.scss */
html a, html a:active, html a:visited, .light a, .light a:active, .light a:visited {
  color: #586e75;
}

/* line 53, content/stylesheets/partials/_base.scss */
.dark {
  backgorund-color: #073642;
  color: #839496;
}
/* line 39, content/stylesheets/partials/_base.scss */
.dark #container {
  background-color: #002b36;
}
/* line 41, content/stylesheets/partials/_base.scss */
.dark * {
  color: #839496;
}
/* line 42, content/stylesheets/partials/_base.scss */
.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
  color: #93a1a1;
  border-color: #839496;
}
/* line 43, content/stylesheets/partials/_base.scss */
.dark a, .dark a:active, .dark a:visited {
  color: #93a1a1;
}

/* line 55, content/stylesheets/partials/_base.scss */
#header {
  background-color: #002b36;
}

/* line 59, content/stylesheets/partials/_base.scss */
html * {
  color-profile: sRGB;
  rendering-intent: auto;
}
