/* line 17, ../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* light is default mode, so pair with general html definition */
/* line 87, ../../content/stylesheets/partials/_base.scss */
body {
  color: #586e75;
  backgorund-color: #eee8d5;
}
/* line 52, ../../content/stylesheets/partials/_base.scss */
body * {
  color: #586e75;
}
/* line 55, ../../content/stylesheets/partials/_base.scss */
body a {
  color: #b58900;
}
/* line 18, ../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:visited {
  color: #b58900;
}
/* line 24, ../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:hover {
  color: #b58900;
}
/* line 27, ../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:active {
  color: #b58900;
}
/* line 56, ../../content/stylesheets/partials/_base.scss */
body blockquote {
  color: #586e75;
}
/* line 58, ../../content/stylesheets/partials/_base.scss */
body blockquote:before {
  color: #cb4b16;
}
/* line 61, ../../content/stylesheets/partials/_base.scss */
body blockquote cite {
  color: #cb4b16;
}
/* line 71, ../../content/stylesheets/partials/_base.scss */
body #container {
  background-color: #fdf6e3;
}
/* line 73, ../../content/stylesheets/partials/_base.scss */
body #container a:hover {
  background-color: #eee8d5;
}
/* line 78, ../../content/stylesheets/partials/_base.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  color: #073642;
  border-color: #657b83;
}
/* line 80, ../../content/stylesheets/partials/_base.scss */
body h1 a, body h2 a, body h3 a, body h4 a, body h5 a, body h6 a {
  color: #073642;
}
/* line 18, ../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body h1 a:visited, body h2 a:visited, body h3 a:visited, body h4 a:visited, body h5 a:visited, body h6 a:visited {
  color: #073642;
}
/* line 24, ../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body h1 a:hover, body h2 a:hover, body h3 a:hover, body h4 a:hover, body h5 a:hover, body h6 a:hover {
  color: #073642;
}
/* line 27, ../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body h1 a:active, body h2 a:active, body h3 a:active, body h4 a:active, body h5 a:active, body h6 a:active {
  color: #073642;
}

/* line 90, ../../content/stylesheets/partials/_base.scss */
html * {
  color-profile: sRGB;
  rendering-intent: auto;
}

/* line 61, ../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 87.5%;
}

/* line 64, ../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 14px;
  line-height: 1.42857em;
}

/* line 20, ../../content/stylesheets/partials/_typography.scss */
article sub, article sup, section sub, section sup {
  /* Specified in % so that the sup/sup is the
     right size relative to the surrounding text */
  font-size: 75%;
  /* Zero out the line-height so that it doesn't
     interfere with the positioning that follows */
  line-height: 0;
  /* Where the magic happens: makes all browsers position
     the sup/sup properly, relative to the surrounding text */
  position: relative;
  /* Note that if you're using Eric Meyer's reset.css, this
     is already set and you can remove this rule */
  vertical-align: baseline;
}
/* line 38, ../../content/stylesheets/partials/_typography.scss */
article sup, section sup {
  /* Move the superscripted text up */
  top: -0.5em;
}
/* line 43, ../../content/stylesheets/partials/_typography.scss */
article sub, section sub {
  /* Move the subscripted text down, but only
     half as far down as the superscript moved up */
  bottom: -0.25em;
}
/* line 49, ../../content/stylesheets/partials/_typography.scss */
article em, section em {
  font-style: italic;
}
/* line 52, ../../content/stylesheets/partials/_typography.scss */
article dt, section dt {
  font-weight: bold;
}

/* line 22, ../../content/stylesheets/screen.scss */
.grid {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(1.23457%, rgba(0, 0, 0, 0)), color-stop(1.23457%, rgba(100, 100, 225, 0.25)), color-stop(6.17284%, rgba(100, 100, 225, 0.25)), color-stop(6.17284%, rgba(0, 0, 0, 0)), color-stop(7.40741%, rgba(0, 0, 0, 0)), color-stop(7.40741%, rgba(100, 100, 225, 0.25)), color-stop(12.34568%, rgba(100, 100, 225, 0.25)), color-stop(12.34568%, rgba(0, 0, 0, 0)), color-stop(13.58025%, rgba(0, 0, 0, 0)), color-stop(13.58025%, rgba(100, 100, 225, 0.25)), color-stop(18.51852%, rgba(100, 100, 225, 0.25)), color-stop(18.51852%, rgba(0, 0, 0, 0)), color-stop(19.75309%, rgba(0, 0, 0, 0)), color-stop(19.75309%, rgba(100, 100, 225, 0.25)), color-stop(24.69136%, rgba(100, 100, 225, 0.25)), color-stop(24.69136%, rgba(0, 0, 0, 0)), color-stop(25.92593%, rgba(0, 0, 0, 0)), color-stop(25.92593%, rgba(100, 100, 225, 0.25)), color-stop(30.8642%, rgba(100, 100, 225, 0.25)), color-stop(30.8642%, rgba(0, 0, 0, 0)), color-stop(32.09877%, rgba(0, 0, 0, 0)), color-stop(32.09877%, rgba(100, 100, 225, 0.25)), color-stop(37.03704%, rgba(100, 100, 225, 0.25)), color-stop(37.03704%, rgba(0, 0, 0, 0)), color-stop(38.2716%, rgba(0, 0, 0, 0)), color-stop(38.2716%, rgba(100, 100, 225, 0.25)), color-stop(43.20988%, rgba(100, 100, 225, 0.25)), color-stop(43.20988%, rgba(0, 0, 0, 0)), color-stop(44.44444%, rgba(0, 0, 0, 0)), color-stop(44.44444%, rgba(100, 100, 225, 0.25)), color-stop(49.38272%, rgba(100, 100, 225, 0.25)), color-stop(49.38272%, rgba(0, 0, 0, 0)), color-stop(50.61728%, rgba(0, 0, 0, 0)), color-stop(50.61728%, rgba(100, 100, 225, 0.25)), color-stop(55.55556%, rgba(100, 100, 225, 0.25)), color-stop(55.55556%, rgba(0, 0, 0, 0)), color-stop(56.79012%, rgba(0, 0, 0, 0)), color-stop(56.79012%, rgba(100, 100, 225, 0.25)), color-stop(61.7284%, rgba(100, 100, 225, 0.25)), color-stop(61.7284%, rgba(0, 0, 0, 0)), color-stop(62.96296%, rgba(0, 0, 0, 0)), color-stop(62.96296%, rgba(100, 100, 225, 0.25)), color-stop(67.90123%, rgba(100, 100, 225, 0.25)), color-stop(67.90123%, rgba(0, 0, 0, 0)), color-stop(69.1358%, rgba(0, 0, 0, 0)), color-stop(69.1358%, rgba(100, 100, 225, 0.25)), color-stop(74.07407%, rgba(100, 100, 225, 0.25)), color-stop(74.07407%, rgba(0, 0, 0, 0)), color-stop(75.30864%, rgba(0, 0, 0, 0)), color-stop(75.30864%, rgba(100, 100, 225, 0.25)), color-stop(80.24691%, rgba(100, 100, 225, 0.25)), color-stop(80.24691%, rgba(0, 0, 0, 0)), color-stop(81.48148%, rgba(0, 0, 0, 0)), color-stop(81.48148%, rgba(100, 100, 225, 0.25)), color-stop(86.41975%, rgba(100, 100, 225, 0.25)), color-stop(86.41975%, rgba(0, 0, 0, 0)), color-stop(87.65432%, rgba(0, 0, 0, 0)), color-stop(87.65432%, rgba(100, 100, 225, 0.25)), color-stop(92.59259%, rgba(100, 100, 225, 0.25)), color-stop(92.59259%, rgba(0, 0, 0, 0)), color-stop(93.82716%, rgba(0, 0, 0, 0)), color-stop(93.82716%, rgba(100, 100, 225, 0.25)), color-stop(98.76543%, rgba(100, 100, 225, 0.25)), color-stop(98.76543%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 1.23457%, rgba(100, 100, 225, 0.25) 1.23457%, rgba(100, 100, 225, 0.25) 6.17284%, rgba(0, 0, 0, 0) 6.17284%, rgba(0, 0, 0, 0) 7.40741%, rgba(100, 100, 225, 0.25) 7.40741%, rgba(100, 100, 225, 0.25) 12.34568%, rgba(0, 0, 0, 0) 12.34568%, rgba(0, 0, 0, 0) 13.58025%, rgba(100, 100, 225, 0.25) 13.58025%, rgba(100, 100, 225, 0.25) 18.51852%, rgba(0, 0, 0, 0) 18.51852%, rgba(0, 0, 0, 0) 19.75309%, rgba(100, 100, 225, 0.25) 19.75309%, rgba(100, 100, 225, 0.25) 24.69136%, rgba(0, 0, 0, 0) 24.69136%, rgba(0, 0, 0, 0) 25.92593%, rgba(100, 100, 225, 0.25) 25.92593%, rgba(100, 100, 225, 0.25) 30.8642%, rgba(0, 0, 0, 0) 30.8642%, rgba(0, 0, 0, 0) 32.09877%, rgba(100, 100, 225, 0.25) 32.09877%, rgba(100, 100, 225, 0.25) 37.03704%, rgba(0, 0, 0, 0) 37.03704%, rgba(0, 0, 0, 0) 38.2716%, rgba(100, 100, 225, 0.25) 38.2716%, rgba(100, 100, 225, 0.25) 43.20988%, rgba(0, 0, 0, 0) 43.20988%, rgba(0, 0, 0, 0) 44.44444%, rgba(100, 100, 225, 0.25) 44.44444%, rgba(100, 100, 225, 0.25) 49.38272%, rgba(0, 0, 0, 0) 49.38272%, rgba(0, 0, 0, 0) 50.61728%, rgba(100, 100, 225, 0.25) 50.61728%, rgba(100, 100, 225, 0.25) 55.55556%, rgba(0, 0, 0, 0) 55.55556%, rgba(0, 0, 0, 0) 56.79012%, rgba(100, 100, 225, 0.25) 56.79012%, rgba(100, 100, 225, 0.25) 61.7284%, rgba(0, 0, 0, 0) 61.7284%, rgba(0, 0, 0, 0) 62.96296%, rgba(100, 100, 225, 0.25) 62.96296%, rgba(100, 100, 225, 0.25) 67.90123%, rgba(0, 0, 0, 0) 67.90123%, rgba(0, 0, 0, 0) 69.1358%, rgba(100, 100, 225, 0.25) 69.1358%, rgba(100, 100, 225, 0.25) 74.07407%, rgba(0, 0, 0, 0) 74.07407%, rgba(0, 0, 0, 0) 75.30864%, rgba(100, 100, 225, 0.25) 75.30864%, rgba(100, 100, 225, 0.25) 80.24691%, rgba(0, 0, 0, 0) 80.24691%, rgba(0, 0, 0, 0) 81.48148%, rgba(100, 100, 225, 0.25) 81.48148%, rgba(100, 100, 225, 0.25) 86.41975%, rgba(0, 0, 0, 0) 86.41975%, rgba(0, 0, 0, 0) 87.65432%, rgba(100, 100, 225, 0.25) 87.65432%, rgba(100, 100, 225, 0.25) 92.59259%, rgba(0, 0, 0, 0) 92.59259%, rgba(0, 0, 0, 0) 93.82716%, rgba(100, 100, 225, 0.25) 93.82716%, rgba(100, 100, 225, 0.25) 98.76543%, rgba(0, 0, 0, 0) 98.76543%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -moz-linear-gradient(left, rgba(0, 0, 0, 0) 1.23457%, rgba(100, 100, 225, 0.25) 1.23457%, rgba(100, 100, 225, 0.25) 6.17284%, rgba(0, 0, 0, 0) 6.17284%, rgba(0, 0, 0, 0) 7.40741%, rgba(100, 100, 225, 0.25) 7.40741%, rgba(100, 100, 225, 0.25) 12.34568%, rgba(0, 0, 0, 0) 12.34568%, rgba(0, 0, 0, 0) 13.58025%, rgba(100, 100, 225, 0.25) 13.58025%, rgba(100, 100, 225, 0.25) 18.51852%, rgba(0, 0, 0, 0) 18.51852%, rgba(0, 0, 0, 0) 19.75309%, rgba(100, 100, 225, 0.25) 19.75309%, rgba(100, 100, 225, 0.25) 24.69136%, rgba(0, 0, 0, 0) 24.69136%, rgba(0, 0, 0, 0) 25.92593%, rgba(100, 100, 225, 0.25) 25.92593%, rgba(100, 100, 225, 0.25) 30.8642%, rgba(0, 0, 0, 0) 30.8642%, rgba(0, 0, 0, 0) 32.09877%, rgba(100, 100, 225, 0.25) 32.09877%, rgba(100, 100, 225, 0.25) 37.03704%, rgba(0, 0, 0, 0) 37.03704%, rgba(0, 0, 0, 0) 38.2716%, rgba(100, 100, 225, 0.25) 38.2716%, rgba(100, 100, 225, 0.25) 43.20988%, rgba(0, 0, 0, 0) 43.20988%, rgba(0, 0, 0, 0) 44.44444%, rgba(100, 100, 225, 0.25) 44.44444%, rgba(100, 100, 225, 0.25) 49.38272%, rgba(0, 0, 0, 0) 49.38272%, rgba(0, 0, 0, 0) 50.61728%, rgba(100, 100, 225, 0.25) 50.61728%, rgba(100, 100, 225, 0.25) 55.55556%, rgba(0, 0, 0, 0) 55.55556%, rgba(0, 0, 0, 0) 56.79012%, rgba(100, 100, 225, 0.25) 56.79012%, rgba(100, 100, 225, 0.25) 61.7284%, rgba(0, 0, 0, 0) 61.7284%, rgba(0, 0, 0, 0) 62.96296%, rgba(100, 100, 225, 0.25) 62.96296%, rgba(100, 100, 225, 0.25) 67.90123%, rgba(0, 0, 0, 0) 67.90123%, rgba(0, 0, 0, 0) 69.1358%, rgba(100, 100, 225, 0.25) 69.1358%, rgba(100, 100, 225, 0.25) 74.07407%, rgba(0, 0, 0, 0) 74.07407%, rgba(0, 0, 0, 0) 75.30864%, rgba(100, 100, 225, 0.25) 75.30864%, rgba(100, 100, 225, 0.25) 80.24691%, rgba(0, 0, 0, 0) 80.24691%, rgba(0, 0, 0, 0) 81.48148%, rgba(100, 100, 225, 0.25) 81.48148%, rgba(100, 100, 225, 0.25) 86.41975%, rgba(0, 0, 0, 0) 86.41975%, rgba(0, 0, 0, 0) 87.65432%, rgba(100, 100, 225, 0.25) 87.65432%, rgba(100, 100, 225, 0.25) 92.59259%, rgba(0, 0, 0, 0) 92.59259%, rgba(0, 0, 0, 0) 93.82716%, rgba(100, 100, 225, 0.25) 93.82716%, rgba(100, 100, 225, 0.25) 98.76543%, rgba(0, 0, 0, 0) 98.76543%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -o-linear-gradient(left, rgba(0, 0, 0, 0) 1.23457%, rgba(100, 100, 225, 0.25) 1.23457%, rgba(100, 100, 225, 0.25) 6.17284%, rgba(0, 0, 0, 0) 6.17284%, rgba(0, 0, 0, 0) 7.40741%, rgba(100, 100, 225, 0.25) 7.40741%, rgba(100, 100, 225, 0.25) 12.34568%, rgba(0, 0, 0, 0) 12.34568%, rgba(0, 0, 0, 0) 13.58025%, rgba(100, 100, 225, 0.25) 13.58025%, rgba(100, 100, 225, 0.25) 18.51852%, rgba(0, 0, 0, 0) 18.51852%, rgba(0, 0, 0, 0) 19.75309%, rgba(100, 100, 225, 0.25) 19.75309%, rgba(100, 100, 225, 0.25) 24.69136%, rgba(0, 0, 0, 0) 24.69136%, rgba(0, 0, 0, 0) 25.92593%, rgba(100, 100, 225, 0.25) 25.92593%, rgba(100, 100, 225, 0.25) 30.8642%, rgba(0, 0, 0, 0) 30.8642%, rgba(0, 0, 0, 0) 32.09877%, rgba(100, 100, 225, 0.25) 32.09877%, rgba(100, 100, 225, 0.25) 37.03704%, rgba(0, 0, 0, 0) 37.03704%, rgba(0, 0, 0, 0) 38.2716%, rgba(100, 100, 225, 0.25) 38.2716%, rgba(100, 100, 225, 0.25) 43.20988%, rgba(0, 0, 0, 0) 43.20988%, rgba(0, 0, 0, 0) 44.44444%, rgba(100, 100, 225, 0.25) 44.44444%, rgba(100, 100, 225, 0.25) 49.38272%, rgba(0, 0, 0, 0) 49.38272%, rgba(0, 0, 0, 0) 50.61728%, rgba(100, 100, 225, 0.25) 50.61728%, rgba(100, 100, 225, 0.25) 55.55556%, rgba(0, 0, 0, 0) 55.55556%, rgba(0, 0, 0, 0) 56.79012%, rgba(100, 100, 225, 0.25) 56.79012%, rgba(100, 100, 225, 0.25) 61.7284%, rgba(0, 0, 0, 0) 61.7284%, rgba(0, 0, 0, 0) 62.96296%, rgba(100, 100, 225, 0.25) 62.96296%, rgba(100, 100, 225, 0.25) 67.90123%, rgba(0, 0, 0, 0) 67.90123%, rgba(0, 0, 0, 0) 69.1358%, rgba(100, 100, 225, 0.25) 69.1358%, rgba(100, 100, 225, 0.25) 74.07407%, rgba(0, 0, 0, 0) 74.07407%, rgba(0, 0, 0, 0) 75.30864%, rgba(100, 100, 225, 0.25) 75.30864%, rgba(100, 100, 225, 0.25) 80.24691%, rgba(0, 0, 0, 0) 80.24691%, rgba(0, 0, 0, 0) 81.48148%, rgba(100, 100, 225, 0.25) 81.48148%, rgba(100, 100, 225, 0.25) 86.41975%, rgba(0, 0, 0, 0) 86.41975%, rgba(0, 0, 0, 0) 87.65432%, rgba(100, 100, 225, 0.25) 87.65432%, rgba(100, 100, 225, 0.25) 92.59259%, rgba(0, 0, 0, 0) 92.59259%, rgba(0, 0, 0, 0) 93.82716%, rgba(100, 100, 225, 0.25) 93.82716%, rgba(100, 100, 225, 0.25) 98.76543%, rgba(0, 0, 0, 0) 98.76543%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), linear-gradient(left, rgba(0, 0, 0, 0) 1.23457%, rgba(100, 100, 225, 0.25) 1.23457%, rgba(100, 100, 225, 0.25) 6.17284%, rgba(0, 0, 0, 0) 6.17284%, rgba(0, 0, 0, 0) 7.40741%, rgba(100, 100, 225, 0.25) 7.40741%, rgba(100, 100, 225, 0.25) 12.34568%, rgba(0, 0, 0, 0) 12.34568%, rgba(0, 0, 0, 0) 13.58025%, rgba(100, 100, 225, 0.25) 13.58025%, rgba(100, 100, 225, 0.25) 18.51852%, rgba(0, 0, 0, 0) 18.51852%, rgba(0, 0, 0, 0) 19.75309%, rgba(100, 100, 225, 0.25) 19.75309%, rgba(100, 100, 225, 0.25) 24.69136%, rgba(0, 0, 0, 0) 24.69136%, rgba(0, 0, 0, 0) 25.92593%, rgba(100, 100, 225, 0.25) 25.92593%, rgba(100, 100, 225, 0.25) 30.8642%, rgba(0, 0, 0, 0) 30.8642%, rgba(0, 0, 0, 0) 32.09877%, rgba(100, 100, 225, 0.25) 32.09877%, rgba(100, 100, 225, 0.25) 37.03704%, rgba(0, 0, 0, 0) 37.03704%, rgba(0, 0, 0, 0) 38.2716%, rgba(100, 100, 225, 0.25) 38.2716%, rgba(100, 100, 225, 0.25) 43.20988%, rgba(0, 0, 0, 0) 43.20988%, rgba(0, 0, 0, 0) 44.44444%, rgba(100, 100, 225, 0.25) 44.44444%, rgba(100, 100, 225, 0.25) 49.38272%, rgba(0, 0, 0, 0) 49.38272%, rgba(0, 0, 0, 0) 50.61728%, rgba(100, 100, 225, 0.25) 50.61728%, rgba(100, 100, 225, 0.25) 55.55556%, rgba(0, 0, 0, 0) 55.55556%, rgba(0, 0, 0, 0) 56.79012%, rgba(100, 100, 225, 0.25) 56.79012%, rgba(100, 100, 225, 0.25) 61.7284%, rgba(0, 0, 0, 0) 61.7284%, rgba(0, 0, 0, 0) 62.96296%, rgba(100, 100, 225, 0.25) 62.96296%, rgba(100, 100, 225, 0.25) 67.90123%, rgba(0, 0, 0, 0) 67.90123%, rgba(0, 0, 0, 0) 69.1358%, rgba(100, 100, 225, 0.25) 69.1358%, rgba(100, 100, 225, 0.25) 74.07407%, rgba(0, 0, 0, 0) 74.07407%, rgba(0, 0, 0, 0) 75.30864%, rgba(100, 100, 225, 0.25) 75.30864%, rgba(100, 100, 225, 0.25) 80.24691%, rgba(0, 0, 0, 0) 80.24691%, rgba(0, 0, 0, 0) 81.48148%, rgba(100, 100, 225, 0.25) 81.48148%, rgba(100, 100, 225, 0.25) 86.41975%, rgba(0, 0, 0, 0) 86.41975%, rgba(0, 0, 0, 0) 87.65432%, rgba(100, 100, 225, 0.25) 87.65432%, rgba(100, 100, 225, 0.25) 92.59259%, rgba(0, 0, 0, 0) 92.59259%, rgba(0, 0, 0, 0) 93.82716%, rgba(100, 100, 225, 0.25) 93.82716%, rgba(100, 100, 225, 0.25) 98.76543%, rgba(0, 0, 0, 0) 98.76543%, rgba(0, 0, 0, 0) 100%);
  -webkit-background-size: 100% 20px, auto;
  -moz-background-size: 100% 20px, auto;
  -o-background-size: 100% 20px, auto;
  background-size: 100% 20px, auto;
  background-position: left top;
}

/* line 28, ../../content/stylesheets/screen.scss */
body a {
  text-decoration: none;
}
/* line 32, ../../content/stylesheets/screen.scss */
body #container {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  *zoom: 1;
  /*
    nav#about {
    @include full;
    ul {
    @include horizontal-list;
    }
    @include accentize($orange);
    }
    */
}
/* line 38, ../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body #container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 37, ../../content/stylesheets/screen.scss */
body #container > header, body #container > footer {
  position: relative;
  background: #002b36;
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-bottom: 1.42857em;
}
/* line 33, ../../content/stylesheets/partials/_bars.scss */
body #container > header:before, body #container > header:after, body #container > footer:before, body #container > footer:after {
  content: "";
  position: absolute;
  background: #002b36;
  top: 0;
  bottom: 0;
  width: 9999px;
  width: 714.21429rem;
}
/* line 41, ../../content/stylesheets/partials/_bars.scss */
body #container > header:before, body #container > footer:before {
  right: 100%;
}
/* line 42, ../../content/stylesheets/partials/_bars.scss */
body #container > header:after, body #container > footer:after {
  left: 100%;
}
/* line 43, ../../content/stylesheets/screen.scss */
body #container > header a:hover, body #container > footer a:hover {
  text-decoration: none;
}
/* line 45, ../../content/stylesheets/screen.scss */
body #container > header h1, body #container > header h2, body #container > footer h1, body #container > footer h2 {
  color: #93a1a1;
  padding-right: 1em;
}
/* line 49, ../../content/stylesheets/screen.scss */
body #container > header h1, body #container > footer h1 {
  font-size: 2em;
  line-height: 1.42857em;
}
/* line 52, ../../content/stylesheets/screen.scss */
body #container > header h2, body #container > footer h2 {
  font-size: 1em;
  line-height: 1.42857em;
  font-style: italic;
  margin-bottom: 1.42857em;
}
/* line 59, ../../content/stylesheets/screen.scss */
body #container nav {
  margin-top: 1.42857em;
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 61, ../../content/stylesheets/screen.scss */
body #container nav h1 {
  font-size: 1.5em;
  line-height: 0.95238em;
}
/* line 44, ../../content/stylesheets/partials/_base.scss */
body #container nav code.url {
  color: #cb4b16;
}
/* line 46, ../../content/stylesheets/partials/_base.scss */
body #container nav a {
  color: #cb4b16;
}
/* line 18, ../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body #container nav a:visited {
  color: #cb4b16;
}
/* line 24, ../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body #container nav a:hover {
  color: #cb4b16;
}
/* line 27, ../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body #container nav a:active {
  color: #cb4b16;
}
/* line 47, ../../content/stylesheets/partials/_base.scss */
body #container nav h1, body #container nav h2, body #container nav h3, body #container nav h4, body #container nav h5, body #container nav h6 {
  color: #cb4b16;
}

/* line 85, ../../content/stylesheets/screen.scss */
section#content {
  width: 66.10169%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 6, ../../content/stylesheets/partials/_typography.scss */
section#content h1 {
  font-size: 3em;
  line-height: 0.95238em;
}
/* line 6, ../../content/stylesheets/partials/_typography.scss */
section#content h2 {
  font-size: 2.5em;
  line-height: 1.04762em;
}
/* line 6, ../../content/stylesheets/partials/_typography.scss */
section#content h3 {
  font-size: 2em;
  line-height: 1.19048em;
}
/* line 6, ../../content/stylesheets/partials/_typography.scss */
section#content h4 {
  font-size: 1.5em;
  line-height: 1.42857em;
}
/* line 6, ../../content/stylesheets/partials/_typography.scss */
section#content h5 {
  font-size: 1em;
  line-height: 1.90476em;
}
/* line 6, ../../content/stylesheets/partials/_typography.scss */
section#content h6 {
  font-size: 0.5em;
  line-height: 3.33333em;
}

/* line 94, ../../content/stylesheets/screen.scss */
.notice, .error {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: .75em;
  margin-top: 1.42857em;
}

/* line 111, ../../content/stylesheets/screen.scss */
.twitter_image_text img {
  vertical-align: middle;
}

/* line 2, ../../content/stylesheets/partials/_article.scss */
article blockquote {
  margin-top: 1.42857em;
  margin-bottom: 1.42857em;
  font-style: italic;
  padding-left: 1em;
  padding-right: 1em;
  quotes: "\201C" "\201D";
}
/* line 12, ../../content/stylesheets/partials/_article.scss */
article blockquote:before {
  content: open-quote;
  font-size: 4em;
  line-height: .1em;
  margin-right: .25em;
  vertical-align: -.4em;
}
/* line 20, ../../content/stylesheets/partials/_article.scss */
article blockquote p {
  display: inline;
}
/* line 24, ../../content/stylesheets/partials/_article.scss */
article blockquote em {
  font-style: normal;
  font-weight: bold;
}
/* line 29, ../../content/stylesheets/partials/_article.scss */
article blockquote cite {
  font-size: em(14px);
  display: block;
  margin-top: em(5px);
}
/* line 33, ../../content/stylesheets/partials/_article.scss */
article blockquote cite:before {
  content: "\2014 \2009";
}

/* line 43, ../../content/stylesheets/partials/_article.scss */
section#content article header, section#content section header {
  border-bottom: 1px solid #839496;
  margin-top: 1.42857em;
  margin-bottom: 1.42857em;
}
/* line 49, ../../content/stylesheets/partials/_article.scss */
section#content article p, section#content section p {
  margin-bottom: 1.42857em;
}
/* line 50, ../../content/stylesheets/partials/_article.scss */
section#content article p:first-child, section#content section p:first-child {
  margin-top: 1.42857em;
}
/* line 55, ../../content/stylesheets/partials/_article.scss */
section#content article dd, section#content section dd {
  margin-bottom: 1.42857em;
}
/* line 58, ../../content/stylesheets/partials/_article.scss */
section#content article ul, section#content section ul {
  list-style-type: circle;
  padding-left: 1em;
  margin-bottom: 1.42857em;
}

/* line 6, ../../content/stylesheets/partials/_typography.scss */
section#content section.archive h1 {
  font-size: 1.5em;
  line-height: 0.71429em;
}
/* line 6, ../../content/stylesheets/partials/_typography.scss */
section#content section.archive h2 {
  font-size: 1em;
  line-height: 0.83333em;
}
/* line 6, ../../content/stylesheets/partials/_typography.scss */
section#content section.archive h3 {
  font-size: 0.5em;
  line-height: 1.19048em;
}
/* line 6, ../../content/stylesheets/partials/_typography.scss */
section#content section.archive h4 {
  font-size: 0em;
  line-height: Infinityem;
}
/* line 6, ../../content/stylesheets/partials/_typography.scss */
section#content section.archive h5 {
  font-size: -0.5em;
  line-height: -0.2381em;
}
/* line 6, ../../content/stylesheets/partials/_typography.scss */
section#content section.archive h6 {
  font-size: -1em;
  line-height: 0.11905em;
}
/* line 69, ../../content/stylesheets/partials/_article.scss */
section#content section.archive h1, section#content section.archive h2 {
  margin-bottom: 1.42857em;
}
/* line 72, ../../content/stylesheets/partials/_article.scss */
section#content section.archive ul {
  list-style: none;
}
/* line 11, ../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
section#content section.archive ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
/* line 75, ../../content/stylesheets/partials/_article.scss */
section#content section.archive time {
  padding-left: 15px;
  padding-left: 1.07143rem;
}

/*
  span {
  display: inline-block;
  }
  */
/* line 87, ../../content/stylesheets/partials/_article.scss */
pre {
  font-size: em(13px);
  font-family: "Courier 10 Pitch", Courier, monospace;
  overflow: auto;
  display: block;
  clear: both;
}

/* line 100, ../../content/stylesheets/partials/_article.scss */
pre:not([class]) {
  font-size: em(16px);
  padding: 0.75em 1em;
  background: #073642;
  border: solid 1px #e1e1e1;
}

/* line 107, ../../content/stylesheets/partials/_article.scss */
code pre:not([class]) {
  line-height: 1.2em;
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  display: inline;
}

/* code { background: #002b36; } */
/* line 3, ../../content/stylesheets/partials/_solarized.scss */
.hll {
  background-color: #ffffcc;
}

/* line 4, ../../content/stylesheets/partials/_solarized.scss */
.c {
  color: #586e75;
}

/* Comment */
/* line 5, ../../content/stylesheets/partials/_solarized.scss */
.err {
  color: #93a1a1;
}

/* Error */
/* line 6, ../../content/stylesheets/partials/_solarized.scss */
.g {
  color: #93a1a1;
}

/* Generic */
/* line 7, ../../content/stylesheets/partials/_solarized.scss */
.k {
  color: #859900;
}

/* Keyword */
/* line 8, ../../content/stylesheets/partials/_solarized.scss */
.l {
  color: #93a1a1;
}

/* Literal */
/* line 9, ../../content/stylesheets/partials/_solarized.scss */
.n {
  color: #93a1a1;
}

/* Name */
/* line 10, ../../content/stylesheets/partials/_solarized.scss */
.o {
  color: #859900;
}

/* Operator */
/* line 11, ../../content/stylesheets/partials/_solarized.scss */
.x {
  color: #cb4b16;
}

/* Other */
/* line 12, ../../content/stylesheets/partials/_solarized.scss */
.p {
  color: #93a1a1;
}

/* Punctuation */
/* line 13, ../../content/stylesheets/partials/_solarized.scss */
.cm {
  color: #586e75;
}

/* Comment.Multiline */
/* line 14, ../../content/stylesheets/partials/_solarized.scss */
.cp {
  color: #859900;
}

/* Comment.Preproc */
/* line 15, ../../content/stylesheets/partials/_solarized.scss */
.c1 {
  color: #586e75;
}

/* Comment.Single */
/* line 16, ../../content/stylesheets/partials/_solarized.scss */
.cs {
  color: #859900;
}

/* Comment.Special */
/* line 17, ../../content/stylesheets/partials/_solarized.scss */
.gd {
  color: #859900;
}

/* Generic.Deleted */
/* line 18, ../../content/stylesheets/partials/_solarized.scss */
.ge {
  color: #93a1a1;
  font-style: italic;
}

/* Generic.Emph */
/* line 19, ../../content/stylesheets/partials/_solarized.scss */
.gr {
  color: #dc322f;
}

/* Generic.Error */
/* line 20, ../../content/stylesheets/partials/_solarized.scss */
.gh {
  color: #cb4b16;
}

/* Generic.Heading */
/* line 21, ../../content/stylesheets/partials/_solarized.scss */
.gi {
  color: #859900;
}

/* Generic.Inserted */
/* line 22, ../../content/stylesheets/partials/_solarized.scss */
.go {
  color: #93a1a1;
}

/* Generic.Output */
/* line 23, ../../content/stylesheets/partials/_solarized.scss */
.gp {
  color: #93a1a1;
}

/* Generic.Prompt */
/* line 24, ../../content/stylesheets/partials/_solarized.scss */
.gs {
  color: #93a1a1;
  font-weight: bold;
}

/* Generic.Strong */
/* line 25, ../../content/stylesheets/partials/_solarized.scss */
.gu {
  color: #cb4b16;
}

/* Generic.Subheading */
/* line 26, ../../content/stylesheets/partials/_solarized.scss */
.gt {
  color: #93a1a1;
}

/* Generic.Traceback */
/* line 27, ../../content/stylesheets/partials/_solarized.scss */
.kc {
  color: #cb4b16;
}

/* Keyword.Constant */
/* line 28, ../../content/stylesheets/partials/_solarized.scss */
.kd {
  color: #268bd2;
}

/* Keyword.Declaration */
/* line 29, ../../content/stylesheets/partials/_solarized.scss */
.kn {
  color: #859900;
}

/* Keyword.Namespace */
/* line 30, ../../content/stylesheets/partials/_solarized.scss */
.kp {
  color: #859900;
}

/* Keyword.Pseudo */
/* line 31, ../../content/stylesheets/partials/_solarized.scss */
.kr {
  color: #268bd2;
}

/* Keyword.Reserved */
/* line 32, ../../content/stylesheets/partials/_solarized.scss */
.kt {
  color: #dc322f;
}

/* Keyword.Type */
/* line 33, ../../content/stylesheets/partials/_solarized.scss */
.ld {
  color: #93a1a1;
}

/* Literal.Date */
/* line 34, ../../content/stylesheets/partials/_solarized.scss */
.m {
  color: #859900;
}

/* Literal.Number */
/* line 35, ../../content/stylesheets/partials/_solarized.scss */
.s {
  color: #859900;
}

/* Literal.String */
/* line 36, ../../content/stylesheets/partials/_solarized.scss */
.na {
  color: #93a1a1;
}

/* Name.Attribute */
/* line 37, ../../content/stylesheets/partials/_solarized.scss */
.nb {
  color: #b58900;
}

/* Name.Builtin */
/* line 38, ../../content/stylesheets/partials/_solarized.scss */
.nc {
  color: #268bd2;
}

/* Name.Class */
/* line 39, ../../content/stylesheets/partials/_solarized.scss */
.no {
  color: #cb4b16;
}

/* Name.Constant */
/* line 40, ../../content/stylesheets/partials/_solarized.scss */
.nd {
  color: #268bd2;
}

/* Name.Decorator */
/* line 41, ../../content/stylesheets/partials/_solarized.scss */
.ni {
  color: #cb4b16;
}

/* Name.Entity */
/* line 42, ../../content/stylesheets/partials/_solarized.scss */
.ne {
  color: #cb4b16;
}

/* Name.Exception */
/* line 43, ../../content/stylesheets/partials/_solarized.scss */
.nf {
  color: #268bd2;
}

/* Name.Function */
/* line 44, ../../content/stylesheets/partials/_solarized.scss */
.nl {
  color: #93a1a1;
}

/* Name.Label */
/* line 45, ../../content/stylesheets/partials/_solarized.scss */
.nn {
  color: #93a1a1;
}

/* Name.Namespace */
/* line 46, ../../content/stylesheets/partials/_solarized.scss */
.nx {
  color: #93a1a1;
}

/* Name.Other */
/* line 47, ../../content/stylesheets/partials/_solarized.scss */
.py {
  color: #93a1a1;
}

/* Name.Property */
/* line 48, ../../content/stylesheets/partials/_solarized.scss */
.nt {
  color: #268bd2;
}

/* Name.Tag */
/* line 49, ../../content/stylesheets/partials/_solarized.scss */
.nv {
  color: #268bd2;
}

/* Name.Variable */
/* line 50, ../../content/stylesheets/partials/_solarized.scss */
.ow {
  color: #859900;
}

/* Operator.Word */
/* line 51, ../../content/stylesheets/partials/_solarized.scss */
.w {
  color: #93a1a1;
}

/* Text.Whitespace */
/* line 52, ../../content/stylesheets/partials/_solarized.scss */
.mf {
  color: #859900;
}

/* Literal.Number.Float */
/* line 53, ../../content/stylesheets/partials/_solarized.scss */
.mh {
  color: #859900;
}

/* Literal.Number.Hex */
/* line 54, ../../content/stylesheets/partials/_solarized.scss */
.mi {
  color: #859900;
}

/* Literal.Number.Integer */
/* line 55, ../../content/stylesheets/partials/_solarized.scss */
.mo {
  color: #859900;
}

/* Literal.Number.Oct */
/* line 56, ../../content/stylesheets/partials/_solarized.scss */
.sb {
  color: #586e75;
}

/* Literal.String.Backtick */
/* line 57, ../../content/stylesheets/partials/_solarized.scss */
.sc {
  color: #859900;
}

/* Literal.String.Char */
/* line 58, ../../content/stylesheets/partials/_solarized.scss */
.sd {
  color: #93a1a1;
}

/* Literal.String.Doc */
/* line 59, ../../content/stylesheets/partials/_solarized.scss */
.s2 {
  color: #859900;
}

/* Literal.String.Double */
/* line 60, ../../content/stylesheets/partials/_solarized.scss */
.se {
  color: #cb4b16;
}

/* Literal.String.Escape */
/* line 61, ../../content/stylesheets/partials/_solarized.scss */
.sh {
  color: #93a1a1;
}

/* Literal.String.Heredoc */
/* line 62, ../../content/stylesheets/partials/_solarized.scss */
.si {
  color: #859900;
}

/* Literal.String.Interpol */
/* line 63, ../../content/stylesheets/partials/_solarized.scss */
.sx {
  color: #859900;
}

/* Literal.String.Other */
/* line 64, ../../content/stylesheets/partials/_solarized.scss */
.sr {
  color: #dc322f;
}

/* Literal.String.Regex */
/* line 65, ../../content/stylesheets/partials/_solarized.scss */
.s1 {
  color: #859900;
}

/* Literal.String.Single */
/* line 66, ../../content/stylesheets/partials/_solarized.scss */
.ss {
  color: #859900;
}

/* Literal.String.Symbol */
/* line 67, ../../content/stylesheets/partials/_solarized.scss */
.bp {
  color: #268bd2;
}

/* Name.Builtin.Pseudo */
/* line 68, ../../content/stylesheets/partials/_solarized.scss */
.vc {
  color: #268bd2;
}

/* Name.Variable.Class */
/* line 69, ../../content/stylesheets/partials/_solarized.scss */
.vg {
  color: #268bd2;
}

/* Name.Variable.Global */
/* line 70, ../../content/stylesheets/partials/_solarized.scss */
.vi {
  color: #268bd2;
}

/* Name.Variable.Instance */
/* line 71, ../../content/stylesheets/partials/_solarized.scss */
.il {
  color: #859900;
}

/* Literal.Number.Integer.Long */
