/* code { background: #002b36; } */
/* line 17, /home/dmaczka/.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, /home/dmaczka/.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, /home/dmaczka/.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, /home/dmaczka/.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, /home/dmaczka/.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, /home/dmaczka/.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, /home/dmaczka/.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, /home/dmaczka/.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, /home/dmaczka/.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* light is default mode, so pair with general html definition */
/* line 90, content/stylesheets/partials/_base.scss */
html * {
  color-profile: sRGB;
  rendering-intent: auto;
}

/* line 9, content/stylesheets/solarized.scss */
.hll {
  background-color: #ffffcc;
}

/* line 10, content/stylesheets/solarized.scss */
.c {
  color: #586e75;
}

/* Comment */
/* line 11, content/stylesheets/solarized.scss */
.err {
  color: #93a1a1;
}

/* Error */
/* line 12, content/stylesheets/solarized.scss */
.g {
  color: #93a1a1;
}

/* Generic */
/* line 13, content/stylesheets/solarized.scss */
.k {
  color: #859900;
}

/* Keyword */
/* line 14, content/stylesheets/solarized.scss */
.l {
  color: #93a1a1;
}

/* Literal */
/* line 15, content/stylesheets/solarized.scss */
.n {
  color: #93a1a1;
}

/* Name */
/* line 16, content/stylesheets/solarized.scss */
.o {
  color: #859900;
}

/* Operator */
/* line 17, content/stylesheets/solarized.scss */
.x {
  color: #cb4b16;
}

/* Other */
/* line 18, content/stylesheets/solarized.scss */
.p {
  color: #93a1a1;
}

/* Punctuation */
/* line 19, content/stylesheets/solarized.scss */
.cm {
  color: #586e75;
}

/* Comment.Multiline */
/* line 20, content/stylesheets/solarized.scss */
.cp {
  color: #859900;
}

/* Comment.Preproc */
/* line 21, content/stylesheets/solarized.scss */
.c1 {
  color: #586e75;
}

/* Comment.Single */
/* line 22, content/stylesheets/solarized.scss */
.cs {
  color: #859900;
}

/* Comment.Special */
/* line 23, content/stylesheets/solarized.scss */
.gd {
  color: #859900;
}

/* Generic.Deleted */
/* line 24, content/stylesheets/solarized.scss */
.ge {
  color: #93a1a1;
  font-style: italic;
}

/* Generic.Emph */
/* line 25, content/stylesheets/solarized.scss */
.gr {
  color: #dc322f;
}

/* Generic.Error */
/* line 26, content/stylesheets/solarized.scss */
.gh {
  color: #cb4b16;
}

/* Generic.Heading */
/* line 27, content/stylesheets/solarized.scss */
.gi {
  color: #859900;
}

/* Generic.Inserted */
/* line 28, content/stylesheets/solarized.scss */
.go {
  color: #93a1a1;
}

/* Generic.Output */
/* line 29, content/stylesheets/solarized.scss */
.gp {
  color: #93a1a1;
}

/* Generic.Prompt */
/* line 30, content/stylesheets/solarized.scss */
.gs {
  color: #93a1a1;
  font-weight: bold;
}

/* Generic.Strong */
/* line 31, content/stylesheets/solarized.scss */
.gu {
  color: #cb4b16;
}

/* Generic.Subheading */
/* line 32, content/stylesheets/solarized.scss */
.gt {
  color: #93a1a1;
}

/* Generic.Traceback */
/* line 33, content/stylesheets/solarized.scss */
.kc {
  color: #cb4b16;
}

/* Keyword.Constant */
/* line 34, content/stylesheets/solarized.scss */
.kd {
  color: #268bd2;
}

/* Keyword.Declaration */
/* line 35, content/stylesheets/solarized.scss */
.kn {
  color: #859900;
}

/* Keyword.Namespace */
/* line 36, content/stylesheets/solarized.scss */
.kp {
  color: #859900;
}

/* Keyword.Pseudo */
/* line 37, content/stylesheets/solarized.scss */
.kr {
  color: #268bd2;
}

/* Keyword.Reserved */
/* line 38, content/stylesheets/solarized.scss */
.kt {
  color: #dc322f;
}

/* Keyword.Type */
/* line 39, content/stylesheets/solarized.scss */
.ld {
  color: #93a1a1;
}

/* Literal.Date */
/* line 40, content/stylesheets/solarized.scss */
.m {
  color: #859900;
}

/* Literal.Number */
/* line 41, content/stylesheets/solarized.scss */
.s {
  color: #859900;
}

/* Literal.String */
/* line 42, content/stylesheets/solarized.scss */
.na {
  color: #93a1a1;
}

/* Name.Attribute */
/* line 43, content/stylesheets/solarized.scss */
.nb {
  color: #b58900;
}

/* Name.Builtin */
/* line 44, content/stylesheets/solarized.scss */
.nc {
  color: #268bd2;
}

/* Name.Class */
/* line 45, content/stylesheets/solarized.scss */
.no {
  color: #cb4b16;
}

/* Name.Constant */
/* line 46, content/stylesheets/solarized.scss */
.nd {
  color: #268bd2;
}

/* Name.Decorator */
/* line 47, content/stylesheets/solarized.scss */
.ni {
  color: #cb4b16;
}

/* Name.Entity */
/* line 48, content/stylesheets/solarized.scss */
.ne {
  color: #cb4b16;
}

/* Name.Exception */
/* line 49, content/stylesheets/solarized.scss */
.nf {
  color: #268bd2;
}

/* Name.Function */
/* line 50, content/stylesheets/solarized.scss */
.nl {
  color: #93a1a1;
}

/* Name.Label */
/* line 51, content/stylesheets/solarized.scss */
.nn {
  color: #93a1a1;
}

/* Name.Namespace */
/* line 52, content/stylesheets/solarized.scss */
.nx {
  color: #93a1a1;
}

/* Name.Other */
/* line 53, content/stylesheets/solarized.scss */
.py {
  color: #93a1a1;
}

/* Name.Property */
/* line 54, content/stylesheets/solarized.scss */
.nt {
  color: #268bd2;
}

/* Name.Tag */
/* line 55, content/stylesheets/solarized.scss */
.nv {
  color: #268bd2;
}

/* Name.Variable */
/* line 56, content/stylesheets/solarized.scss */
.ow {
  color: #859900;
}

/* Operator.Word */
/* line 57, content/stylesheets/solarized.scss */
.w {
  color: #93a1a1;
}

/* Text.Whitespace */
/* line 58, content/stylesheets/solarized.scss */
.mf {
  color: #859900;
}

/* Literal.Number.Float */
/* line 59, content/stylesheets/solarized.scss */
.mh {
  color: #859900;
}

/* Literal.Number.Hex */
/* line 60, content/stylesheets/solarized.scss */
.mi {
  color: #859900;
}

/* Literal.Number.Integer */
/* line 61, content/stylesheets/solarized.scss */
.mo {
  color: #859900;
}

/* Literal.Number.Oct */
/* line 62, content/stylesheets/solarized.scss */
.sb {
  color: #586e75;
}

/* Literal.String.Backtick */
/* line 63, content/stylesheets/solarized.scss */
.sc {
  color: #859900;
}

/* Literal.String.Char */
/* line 64, content/stylesheets/solarized.scss */
.sd {
  color: #93a1a1;
}

/* Literal.String.Doc */
/* line 65, content/stylesheets/solarized.scss */
.s2 {
  color: #859900;
}

/* Literal.String.Double */
/* line 66, content/stylesheets/solarized.scss */
.se {
  color: #cb4b16;
}

/* Literal.String.Escape */
/* line 67, content/stylesheets/solarized.scss */
.sh {
  color: #93a1a1;
}

/* Literal.String.Heredoc */
/* line 68, content/stylesheets/solarized.scss */
.si {
  color: #859900;
}

/* Literal.String.Interpol */
/* line 69, content/stylesheets/solarized.scss */
.sx {
  color: #859900;
}

/* Literal.String.Other */
/* line 70, content/stylesheets/solarized.scss */
.sr {
  color: #dc322f;
}

/* Literal.String.Regex */
/* line 71, content/stylesheets/solarized.scss */
.s1 {
  color: #859900;
}

/* Literal.String.Single */
/* line 72, content/stylesheets/solarized.scss */
.ss {
  color: #859900;
}

/* Literal.String.Symbol */
/* line 73, content/stylesheets/solarized.scss */
.bp {
  color: #268bd2;
}

/* Name.Builtin.Pseudo */
/* line 74, content/stylesheets/solarized.scss */
.vc {
  color: #268bd2;
}

/* Name.Variable.Class */
/* line 75, content/stylesheets/solarized.scss */
.vg {
  color: #268bd2;
}

/* Name.Variable.Global */
/* line 76, content/stylesheets/solarized.scss */
.vi {
  color: #268bd2;
}

/* Name.Variable.Instance */
/* line 77, content/stylesheets/solarized.scss */
.il {
  color: #859900;
}

/* Literal.Number.Integer.Long */
